.content-button {
	width: 70px;
	margin: 0 auto;
}
.content-input {
	.input {
		min-width: 300px;
		margin: 15% 0 10%;
		background: transparent;
		border: none;
		border-bottom: 2px solid rgba(103, 63, 27, 1);
		color: rgba(103, 63, 27, 1);
		outline: none;
		padding: 10px 0;
		letter-spacing: 1px;
		font-size: 18px;

		&::-webkit-input-placeholder {
			color: rgba(103, 63, 27, .7);
			font-family: 'Luckiest Guy', cursive;
		}
		&:-moz-placeholder {
			color: rgba(103, 63, 27, .7);
			font-family: 'Luckiest Guy', cursive;
		}
		&::-moz-placeholder {
			color: rgba(103, 63, 27, .7);
			font-family: 'Luckiest Guy', cursive;
		}
		&:-ms-input-placeholder {
			color: rgba(103, 63, 27, .7);
			font-family: 'Luckiest Guy', cursive;
		}
	}
}