<main class="main">
	<img class="logo" src="/assets/backgrounds/logo.png">
	<div class="content-login">
		<button md-raised-button (click)="loginWithFacebook()">Sign in with Facebook</button>
	</div>
	<footer class="footer">
		<a target="_blank" href="https://www.angularattack.com/" class="angularattack"><img src="/assets/backgrounds/angularattack.png"></a>
		<p class="copyright">
			Created with <a target="_blank" href="http://bit.ly/2p79JXE">"Pressa"</a> by <a target="_blank" href="http://www.angularattack.com/entries/206-eresoft">Slyng Team</a>
		</p>
	</footer>
</main>